---
# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: Lint and test workflow
on:
  push:
  workflow_dispatch:
jobs:
  quality:
    name: Lint code
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Install non-python dependencies
        run: |
          sudo apt-get install -y graphviz-dev

      - name: Setup Python environment
        uses: prefix-dev/setup-pixi@v0.8.14
        with:
          environments: >-
            dev-only
          activate-environment: dev-only

      - name: isort
        run: isort autoafids/*.py -c

      - name: black
        run: black autoafids --check

      - name: snakefmt
        run: snakefmt autoafids --check

  test:
    runs-on: ubuntu-latest
    needs: [quality]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Setup Pixi environment
        uses: prefix-dev/setup-pixi@v0.8.14
        with:
          activate-environment: true

      - name: Setup env for autoafids
        run: |
          echo "AUTOAFIDS_CACHE_DIR=`pwd`/test_data/autoafids_cache_dir" >> $GITHUB_ENV
      - name: Test T1w modality
        run: |
          ./autoafids/run.py test_data/bids_T1w test_out participant --participant-label 001 -np
      - name: Test T2w modality
        run: |
          ./autoafids/run.py test_data/bids_T2w test_out participant --modality T2w -np -c1
      - name: Test CT modality
        run: |
          ./autoafids/run.py test_data/bids_ct test_out participant --modality ct -np -c1
      - name: Test stereotaxy feature with T1w modality
        run: |
          ./autoafids/run.py test_data/bids_T1w test_out participant --participant-label 001 --stereotaxy STN -np
      - name: Test stereotaxy feature with T2w modality
        run: |
          ./autoafids/run.py test_data/bids_T2w test_out participant --stereotaxy STN --modality T2w -np -c1
      - name: Test fidqc feature
        run: |-
          ./autoafids/run.py test_data/bids_T1w test_out participant --participant-label 001 --fidqc -np
